CONFIG_BCM4375=y
CONFIG_BT_BCM43XX=y
CONFIG_CAMERA_CIS_2LA_OBJ=y
CONFIG_CAMERA_CIS_2LD_OBJ=y
CONFIG_CAMERA_CIS_3J1_OBJ=y
CONFIG_CAMERA_CIS_GW2_OBJ=y
CONFIG_CAMERA_FLASH_S2MPB02_OBJ=y
CONFIG_CAMERA_HST_V01=y
CONFIG_DECON_BTS_VRR_ASYNC=y
CONFIG_ESE_COLDRESET=y
CONFIG_ESE_P3_LSI=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_EXYNOS_DECON_LCD_S6E3HAB=y
CONFIG_EXYNOS_MULTIRESOLUTION=y
CONFIG_EXYNOS_WINDOW_UPDATE=y
CONFIG_KEYBOARD_STM_FSR=y
CONFIG_LEDS_S2MPB02=y
CONFIG_MODEL_X1SLTE=y
CONFIG_MOTOR_CS40L2X=y
CONFIG_NETPM=y
CONFIG_PANEL_BACKLIGHT_PAC_3_0=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_VRR_BRIDGE=y
CONFIG_PD_CHARGER_HV_DISABLE=y
CONFIG_SEC_NFC=y
CONFIG_SENSORS_QBT2000=y
CONFIG_SENSORS_SSP_LIGHT_COLORID=y
CONFIG_SENSORS_SSP_LPS22H=y
CONFIG_SENSORS_SSP_LSM6DSO=y
CONFIG_SENSORS_SSP_MAGNETIC_COMMON=y
CONFIG_SENSORS_SSP_PICASSO=y
CONFIG_SENSORS_SSP_PROX_AUTOCAL_AMS=y
CONFIG_SENSORS_SSP_TMD4907=y
CONFIG_SENSORS_SX9360=y
CONFIG_SENSOR_RETENTION_USE=y
CONFIG_SUPPORT_CCD_TEST=y
CONFIG_SUPPORT_DDI_FLASH=y
CONFIG_SUPPORT_DIM_FLASH=y
CONFIG_SUPPORT_DISPLAY_PROFILER=y
CONFIG_SUPPORT_DSU=y
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_HMD=y
CONFIG_SUPPORT_MAFPC=y
CONFIG_SUPPORT_POC_FLASH=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_TOUCHSCREEN_SEC_TS_Y79A=y
CONFIG_WLAN_SOFTAP_HE_ENABLE=y
CONFIG_WLAN_TSQ_MULTIPLIER=y
CONFIG_WLAN_VENDOR_DUMP_ENABLE=y
