CONFIG_BCM4375=y
CONFIG_BT_BCM43XX=y
CONFIG_CAMERA_CIS_2L3_OBJ=y
CONFIG_CAMERA_CIS_3J1_OBJ=y
CONFIG_CAMERA_CIS_3M5_OBJ=y
CONFIG_CAMERA_CIS_HM1_OBJ=y
CONFIG_CAMERA_CIS_IMX518_OBJ=y
CONFIG_CAMERA_CIS_TOF_BUCK_USE=y
CONFIG_CAMERA_CNT_V02=y
CONFIG_CAMERA_FLASH_S2MPB02_OBJ=y
CONFIG_CAMERA_LASER_AF_VL53L5_OBJ=y
CONFIG_DECON_VRR_MODULATION=y
CONFIG_EPEN_WACOM_W9020=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_COPR=y
CONFIG_EXYNOS_DECON_LCD_S6E3HAC=y
CONFIG_EXYNOS_MULTIRESOLUTION=y
CONFIG_EXYNOS_WINDOW_UPDATE=y
CONFIG_INPUT_WACOM=y
CONFIG_LEDS_S2MPB02=y
CONFIG_MODEL_C2S=y
CONFIG_MOTOR_CS40L2X=y
CONFIG_NAD_55=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PD_CHARGER_HV_DISABLE=y
CONFIG_SEC_BPS_INFO_ADD=y
CONFIG_SEC_NAD_API=y
CONFIG_SEC_NAD_PMIC=y
CONFIG_SEC_SUPPORT_MOTTOTEST_WITH_ACT=y
CONFIG_SENSORS_A96T365IF=y
CONFIG_SENSORS_A96T3X6=y
CONFIG_SENSORS_A96T3X6_BLOCK_SAR_ONLY=y
CONFIG_SENSORS_A96T3X6_CRC_CHECK=y
CONFIG_SENSORS_DYNAMIC_SENSORLIST=y
CONFIG_SENSORS_FW_VENDOR=y
CONFIG_SENSORS_QBT2000=y
CONFIG_SENSORS_SSP_CANVAS=y
CONFIG_SENSORS_SX9360=y
CONFIG_SENSORS_VL53L5=y
CONFIG_SENSORS_VL53L5_C2=y
CONFIG_SENSORS_VL53L5_SUPPORT_KERNEL_INTERFACE=y
CONFIG_SENSORS_VL53L5_SUPPORT_UAPI=y
CONFIG_SUPPORT_CCD_TEST=y
CONFIG_SUPPORT_DDI_FLASH=y
CONFIG_SUPPORT_DISPLAY_PROFILER=y
CONFIG_SUPPORT_DSU=y
CONFIG_SUPPORT_ERRFG_RECOVERY=y
CONFIG_SUPPORT_GM2_FLASH=y
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_MAFPC=y
CONFIG_SUPPORT_POC_FLASH=y
CONFIG_SUPPORT_POC_SPI=y
CONFIG_TOUCHSCREEN_SEC_TS_Y79A_C=y
CONFIG_USE_OIS_TAMODE_CONTROL=y
CONFIG_WIRELESS_CHARGER_HAL_MFC=y
CONFIG_WIRELESS_CHARGER_MFC_S2MIW04=y
CONFIG_WLAN_BCM4375_ADVANCED_FEATURES=y
CONFIG_WLAN_TSQ_MULTIPLIER=y
CONFIG_WLAN_VENDOR_DUMP_ENABLE=y
