# CONFIG_BROADCOM_WIFI is not set
CONFIG_BUS_AUTO_SUSPEND=y
CONFIG_CAMERA_CIS_2LD_OBJ=y
CONFIG_CAMERA_CIS_3L6_OBJ=y
CONFIG_CAMERA_CIS_HI847_OBJ=y
CONFIG_CAMERA_CIS_IMX616_OBJ=y
CONFIG_CAMERA_FLASH_RT8547_OBJ=y
CONFIG_CAMERA_RST_V08=y
CONFIG_CNSS2=y
CONFIG_CNSS2_QMI=y
CONFIG_CNSS_GENL=y
CONFIG_CNSS_QCA6390=y
CONFIG_DECON_BTS_VRR_ASYNC=y
CONFIG_ESE_P3_LSI=y
CONFIG_EXYNOS_DECON_LCD_EA8076=y
CONFIG_EXYNOS_DECON_LCD_EA8079=y
CONFIG_EXYNOS_DECON_LCD_S6E3FC3=y
CONFIG_EXYNOS_DOZE_FIRST_FRAME_BLACK=y
CONFIG_KEYBOARD_STM_FSR=y
CONFIG_LEDS_RT8547=y
CONFIG_MHI_BUS=y
CONFIG_MHI_DEBUG=y
CONFIG_MHI_UCI=y
CONFIG_MODEL_R8S=y
CONFIG_MOTOR_DRV_MAX77705=y
CONFIG_MSM_BT_POWER=y
CONFIG_NAD_55=y
CONFIG_PANEL_DECON_BOARD=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_MAGNA_DDI=y
CONFIG_PROCESS_RECLAIM_IGNORE_ALL_TYPE=y
CONFIG_QCA_CLD_WLAN=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QRTR=y
CONFIG_QRTR_MHI=y
CONFIG_SEC_BPS_INFO_ADD=y
CONFIG_SEC_HAPTIC=y
CONFIG_SEC_NFC=y
CONFIG_SEC_SUPPORT_MOTTOTEST_WITH_ACT=y
CONFIG_SENSORS_A96T3X6=y
CONFIG_SENSORS_A96T3X6_BLOCK_SAR_ONLY=y
CONFIG_SENSORS_A96T3X6_CRC_CHECK=y
CONFIG_SENSORS_DYNAMIC_SENSORLIST=y
CONFIG_SENSORS_FW_VENDOR=y
CONFIG_SENSORS_GW9558X=y
CONFIG_SENSORS_SABC=y
CONFIG_SENSORS_SSP_R8=y
CONFIG_SENSOR_RETENTION_USE=y
CONFIG_SUPPORT_FAST_DISCHARGE=y
CONFIG_SUPPORT_MASK_LAYER=y
CONFIG_TOUCHSCREEN_STM_FTS5CU56A=y
CONFIG_TOUCHSCREEN_ZINITIX_ZT7650=y
CONFIG_TX_5V_DISABLE=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y
CONFIG_WEXT_PRIV=y
CONFIG_WIRELESS_EXT=y
